<h1>Stories</h1>
<div class="row">
  {{!-- loop through each story and display the title, author and subsection of body --}}
  {{#each stories}}
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          {{!--
            @description: editIcon takes 3 parameters
            story user id - supplied for each story in the loop
            logged in user - requires information outside of the loop, accessed with '../{{value}}'
            storyId - supplied for each story in the loop 
            float - defaut value set to true so not strictly required

            to parse html in template {{{}}} is required
          --}}
          {{{editIcon user ../user _id}}}
        </div>
        <div class="card-content center-align">
          <h5>{{title}}</h5>
          {{!-- 
            @description: using 2 helper functions 
              process starts inside the () and then does the second helper fn
          --}}
          <p>{{stripTags (truncate body 150)}}</p>
          <br>
          <div class="chip">
            <img src="{{user.image}}" alt="">
            <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
          </div>
        </div>
        <div class="card-action center-align">
          <a href="/stories/{{_id}}" class="btn grey">Read More</a>
        </div>
      </div>
    </div>
  {{else}}
    <p>No stories to display</p>
  {{/each}}
</div>